<div [formGroup]="form">
    <div [ngSwitch]="model.controlType">
        <div class="errorMessage" *ngIf="!isValid">{{model.label}} is required</div>
        <mat-form-field appearance="fill" *ngSwitchCase="'textbox'">
            <mat-label [attr.for]="model.key">{{model.label}}</mat-label>
            <input matInput *ngSwitchCase="'textbox'" [formControlName]="model.key"
            [id]="model.key" [type]="model.type">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngSwitchCase="'dropdown'">
            <mat-label [attr.for]="model.key">{{model.label}}</mat-label>
            <mat-select [id]="model.key" *ngSwitchCase="'dropdown'" [formControlName]="model.key">
            <mat-option *ngFor="let opt of model.options" [value]="opt.key">{{opt.value}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>